.work-section{
    padding-top: 0;

&__heading{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pimary-text-color);
}
&__title{
    display: flex;
}
&__item:not(:last-child){
    margin-right: 30px;
}
&__item{
    position: relative;
}
&__description{
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;

}

&__text{
    padding: 27px 82px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
}
