.hero{
    // width: 1600px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and (min-width: 320px) {
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4) ), 
        url(../images/hero/hero.jpg);
        max-width: 480px;
        height: 400px;

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4) ),
            url(../images/hero/hero2x.jpg);
        }
    }
    @media screen and (min-width:768px) {
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4) ),
        url(../images/hero/hero-tablet.jpg);
        max-width: 768px;
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4) ),
            url(../images/hero/hero-tablet2x.jpg);
        }
    }
    @media screen and (min-width:1200px) {
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4) ),
        url(../images/hero/hero-desktop.jpg);
        max-width: 1600px;
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4) ),
            url(../images/hero/hero-desktop2x.jpg);
        }
    }

&__text{
    margin: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
}

