.hero{
    // width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4) ), 
    url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

&__text{
    margin: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
}

