.portfoio-filter{
&__list{
    display: flex;
    // justify-content: center;
    margin-bottom: 50px;
    @media screen and (max-width:767px) {
        flex-wrap: wrap;
    }
@media screen and (min-width:768px) and (max-width:1199px) {
    justify-content: center;
}
@media screen and (min-width:1200px) {
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 50px;
}
}
&__item:not(:only-child 1, 2, 3){
    margin-bottom: 15px;
}
&__item:not(:last-child){
    margin-right: 8px;
}
&__button:hover, &__button:focus{
    color: var(--white-color);
    background: var(--background-color);
    box-shadow: 0px 3px 1px 
    rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
&__button{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pimary-text-color);
    cursor: pointer;
    // width: 145px;
    // height: 38px;
    background: var(--background3-color);
    border-radius: 4px;
    border-color: transparent;
    @media screen and (max-width:767px) {
        padding: 6px 22px;
    }
}
}
