.poster{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and (max-width:480px) {
        justify-content: center;
    }
    
&__item{
margin: 15px;
box-sizing: border-box;
}
&__link{
    display: block;
}
&__link:hover, &__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
&__link:hover .overlay, &__link:focus .overlay {
    transform: translateY(0);
}
&__image{
    position: relative;
    overflow: hidden;
}
}

.poster-description{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

&__heading{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--pimary-text-color);
}
&__paragraph{
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
}
