.form{
    @media screen and (max-width:767px) {
        min-width: 320px;
        text-align: center;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
&__text{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
&__input{
    padding-left: 10px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
}

&__text{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    @media screen and (max-width:767px) {
        text-align: center;
        margin-top: 60px;
    }
}
&__input{
    padding-left: 10px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    @media screen and (max-width:767px) {
        width: 100%;
    }
}
&__button{
    cursor: pointer;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    @media screen and (max-width:1199px) {
        margin-top: 20px;
    }

}
&__icon{
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
}