.footer-section{
    padding-top: 60px;
    padding-bottom: 60px;
background: var(--background2-color);
}
.footer{
    // display: flex;
    align-items: baseline;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
@media screen and (min-width:1200px) {
    display: flex;
    align-items: baseline;
}
&__logo{
    @media screen and (max-width:768px) {
        text-align: center;
    }
   
}
&__web{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-color);
    
@media screen and (max-width:480px) {
        display: flex;
        justify-content: center;
    }
}
   
&__studio{
    color: var(--white-color);

}
}

.adress-footer{
    margin-top: 20px;
    
&__title{
    
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--white-color);
@media screen and (max-width:480px) {
    text-align: center;
}
}
&__item{
    margin-top: 9px;
@media screen and (max-width:480px) {
    text-align: center;
}
}
&__link{
    color: rgba(255, 255, 255, 0.6);
}
}
