.social-footer{
    // margin-left: 70px;
    // margin-right: 93px;
    @media screen and (min-width:768px) and (max-width:1199px) {
    margin-left: 165px;
    text-align: center;
}
@media screen and (min-width:1200px) {
    margin-left: 70px;
    margin-right: 93px;
}
&_heading{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
@media screen and (max-width:480px) {
    text-align: center;
    margin-top: 60px;
}
}
&_title{
    display: flex;
    @media screen and (max-width:480px) {
        justify-content: center;
    }
}
&__item:not(:last-child){
    margin-right: 10px;
}
}
