.header-section {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  position: relative;

}
.main-nav {
  align-items: center;
  display: flex;
  @media screen and (min-width:320px) and (max-width:767px) {
    position: relative;
  }

&__web{
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
  
}
&__studia{
    color: black;
}
}

.menu-button{
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 200;
  @media screen and (min-width:767px) {
    display: none;
    
  }
&:hover, &:focus{
  fill: #2196F3;
}
& .icon-cross{
  display: none;
}
&.is-open .icon-cross{
  display: block;
  
}
&.is-open .icon-menu{
  display: none;
}
}
.menu-container{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  // width: 480px;
  height: 595px;
  background-color: white;
  z-index: 100;
  padding: 48px 40px;
  
.menu-container::-webkit-scrollbar { width: 0 !important }
&.is-open{
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  
}

}

