.header-contacts{
    margin-left: auto;
    // display: flex;
    
&__item:not(:last-child){
    margin-right: 50px;
}

&__link:focus, &__link:hover{
    color: var(--background-color);
}
&__link{
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    // display: flex;
    align-items: center;
}
&__icon {
    margin-right: 10px;
    fill: currentColor;
}
}
