.header-section {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  position: relative;

}
.main-nav {
  align-items: center;
  display: flex;

&__web{
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
  
}
&__studia{
    color: black;
}
}
.menu-button{
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 200;
  @media screen and (min-width:480px) {
    display: none;
    
  }
  
& .icon-cross{
  display: none;
}
&.is-open .icon-cross{
  display: block;
  
}
&.is-open .icon-menu{
  display: none;
}
}
.menu-container{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  width: 480px;
  height: 796px;
  background-color: white;
  z-index: 100;
  padding: 48px 40px;
  
&.is-open{
  display: block;
  position: absolute;
  top: 0;
}

}

