.header-section {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.main-nav {
  align-items: center;
  display: flex;

&__web{
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
&__studia{
    color: black;
}
}
