.header-contacts{
    margin-left: auto;
    display: flex;
    @media screen and (min-width:481px) and (max-width:768px) {
    margin-left: 82px;
    flex-direction: column;
    justify-content: center;
}
&__item{
@media screen and (max-width:480px) {
        margin-bottom: 32px;
    }

}  
&__item:not(:last-child){
    margin-right: 50px;
    @media screen and (max-width:480px) {
        margin-top: 302px;
    }
    @media screen and (min-width:481px) and (max-width:768px) {
        margin-bottom: 10px;
    }
}

&__link:focus, &__link:hover{
    color: var(--background-color);
    @media screen and (max-width:480px) {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        
    }
}
&__link{
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    // display: flex;
    align-items: center;
}
&__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width:480px) {
        display: none;
    }
}
}
