.main-navigate{
    
    @media screen and (max-width:1199px) {
        display: flex;
        margin-left: auto;
    }
    @media screen and (min-width:1200px) {
        margin-left: 93px;
        display: flex;
    }

&__title{
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
    }
    @media screen and (min-width:1200px) {
        display: flex;
    }
    
}
&__item{
    position: relative;
            
}
&__item:not(:last-child){
    margin-right: 30px;
    @media screen and (max-width:480px) {
        margin-bottom: 32px;
    }
}


&__link{
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--pimary-text-color);
    @media screen and (min-width:481px) {
        // padding-top: 32px;
        padding-bottom: 32px;
    }
    @media screen and (max-width:767px) {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;  
    }
    @media screen and (min-width:768px) {
        padding-top: 32px;
    }
    
    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
&__link:focus, &__link:hover{
    color: var(--background-color);
}
}

.current {
    color: #2196F3;
    
    
&::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0px;
    background: #2196F3;
    border-radius: 2px;
    @media screen and (max-width:767px) {
        display: none;
    }
}
}
.menu-social{
    display: flex;
    // justify-content: center;
    margin-top: 64px;
.menu-social__item{
    
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-bottom: 48px;
    
&::after{
    content: '';
    margin: 0 10px;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    }
}
}
