
.client-section{
padding-top: 94px;
padding-bottom: 94px;
@media screen and (max-width:480px) {
    padding-bottom: 30px;
    padding-top: 60px;
}

&__title{
    @media screen and (max-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
}
&__item:not(:last-child){
    // margin-right: 30px;
    
    @media screen and (max-width:480px) {
        margin-bottom: 30px;
        &:nth-child(2n+1){
            margin-right: 30px;
        }
    }    
}

&__link:hover, &__link:focus{
    fill: var(--background-color);
    border-color: var(--background-color);
}
&__link{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#AFB1B8 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    @media screen and (min-width:768px) {
        width: 226px;
        height: 92px;
    }
}
&__logo{
    color: currentColor;
    width: 106px;
    height: 60px;
}
}


